Jinja2
MarkupSafe
PyYAML
azure-keyvault-secrets
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
boto3
botocore
certifi
cffi
cryptography
decorator
google-auth
gssapi
idna
krb5
pynetbox
ntlm-auth
openshift
packaging
pip
pycparser
pykerberos
pynetbox
pyspnego
pytz
pyvmomi
pywinrm
pyyaml
requests
requests-credssp
requests_ntlm
resolvelib
setuptools
six
urllib3
xmltodict
ansible
